<ion-header>
  <ion-toolbar>
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ion-card style="margin-bottom: 20px;">
    <ion-card-header>
      <ion-card-subtitle>Fayy Fepp</ion-card-subtitle>
      <ion-card-title><img src="../../assets/icon/logo.png" width="50%" height="60%" alt=""></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Payez grâce à votre code QR

      

    </ion-card-content>
  </ion-card>

  <ion-card>
    <!-- <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header> -->
  
    <ion-card-content>
      <div style="margin-top: 20px;">
        <ion-button class="btn-secondaire" expand="block" routerLink="/scan">Scanner un code QR</ion-button>
      </div>
    </ion-card-content>
  </ion-card>


  <!-- <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card> -->


</ion-content>
